{%extends 'base.html'%}
{%block content%}
    <div class="aboutme">
    <h1>Welcome to Vivvan's Wonder</h1><br><br>
    <h3>
        My name is Vivaan Aurora. My hobbies are to play sports and do coding. 
        My favorite football players are Lionel Messi and Kevin De Bruyne.
        My favourite football teams are Chelsea and Barcelona. 
        I am a sporty person and i love playing sports.
       Ever since I started to learn coding, I loved it. 
        I was very excited to make my apps, websites, etc. 
        Givemefive.ai is a very good website you can learn coding from. 
        My coding sir helps me when I don’t understand something and even helps me in my projects.
        I am very grateful to him.
        I hope i can make more projects and continue learning coding.
    </h3> <br><br>
    </div>
{%endblock%}