{%extends 'base.html'%}
{%block style%}
    <style>
        body{
            background: url(../static/diego-ph-5LOhydOtTKU-unsplash.jpg);
            /* width: 90%; */
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-y: 90%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        form{
            width: 25%;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 25px;
            line-height: 30px;
            color: seashell;
            border-radius: 15px;
            padding: 10px;
            margin-top: 5%;
        }
        form input{
            background: none;
            border: none;
            border-bottom: 3px solid green;
            padding: 10px;
        }
        .button{
            margin: 10% 0 0 0;
            margin-bottom: 10%;
        }
     
        form .login{
            margin-left: 5%;
        }
        a{
            color: #fff;
        }
        h2{
            /* text-align:center; */
            background: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* border: thin solid; */
            box-sizing: border-box;
            border-radius: 10px;
            width: 100%;
            text-decoration: underline red;
            text-shadow: 4px 4px black;
            margin-bottom: 20%;
            margin-left: 0;
        }
        .signin{
            margin-left: 10%;
        }
        .info a{
            font-size: medium;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
    </style>
 {%endblock style%}   

 {%block content%}
    <form action="/validate_user" method="POST">
    <div class="signin">
        <div class="info">
            <h4>Feedback</h4>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button type="submit" class="btn-gradient">Submit</button>
        

    </div>
    </form>
{%endblock content%}




















































































































