<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="famous">
        <ul>
            <li><a href="./Messi.html">Messi</a></li>
            <li><a href="./Ronaldo.html">Ronaldo</a></li>
            <li><a href="./Neymar.html">Neymar</a></li>
            <li><a href="./Suarez.html">Suarez</a></li>
            <li><a href="./Mbappe.html">Mbappe</a></li>   
        </ul>

    </div>
    
</body>
</html>